name: Flujo de Integración Continua (Practica 4)

# 1. Detección de cambios (Trigger)
on:
  push:
    branches:
      - master
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest # El entorno donde se ejecutarán los comandos
    
    steps:
    
      # Paso 1: Checkout del código
      - name: Checkout del Repositorio
        uses: actions/checkout@v4
      
      # Paso 2: Configuración del JDK
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17' # Asegúrate de que esta versión coincida con tu pom.xml
          distribution: 'temurin'
          cache: 'maven'
          
      # 2. Compilación y Ejecución de Pruebas Unitarias
      - name: Compilar y Ejecutar Pruebas con Maven
        run: mvn --batch-mode clean install
        
      # 3. Análisis Estático de Calidad (SonarQube)
      # Este paso requiere la URL de SonarQube y un token configurado en GitHub Secrets
     # - name: Análisis de Calidad con SonarQube
      #  run: mvn org.sonarsource.scanner.maven:sonar-maven-plugin:3.9.1.2184:sonar -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }} -Dsonar.login=${{ secrets.SONAR_TOKEN }}
        # Aquí se incluye el paso obligatorio de Análisis Estático de Calidad [cite: 58, 63]
        
      # 4. Publicación del Artefacto (Nexus)
      # Esta etapa solo se ejecuta si la etapa de SonarQube es exitosa
      # La configuración de Maven (settings.xml) debe contener las credenciales de Nexus
      #- name: Publicar Artefacto en Nexus
       # run: mvn deploy -s settings.xml
        # Este paso incluye la Publicación del Artefacto, si todos los pasos anteriores son exitosos [cite: 58, 64]
# 5. Publicación del Artefacto (Nexus)
      #- name: Publicar Artefacto en Nexus
       # run: mvn deploy -s settings.xml 
        # La bandera '-s settings.xml' indica que debe usar el archivo que creamos.
