name: Flujo de Integración Continua (Practica 4)

on:
  push:
    branches:
      - master  # o 'main'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout del Repositorio
        uses: actions/checkout@v4
      
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'
          
      - name: Compilar y Ejecutar Pruebas con Maven
        working-directory: . # FORZAMOS LA RUTA A LA RAÍZ
        run: mvn --batch-mode clean install
        
      # === PASOS DESACTIVADOS TEMPORALMENTE PARA LA DEMOSTRACIÓN DE FALLO DE CÓDIGO ===
        
      # - name: Análisis de Calidad con SonarQube
      #   working-directory: . # FORZAMOS LA RUTA A LA RAÍZ
      #   run: mvn org.sonarsource.scanner.maven:sonar-maven-plugin:3.10.0.2599:sonar -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }} -Dsonar.login=${{ secrets.SONAR_TOKEN }}
        
      # - name: Publicar Artefacto en Nexus
      #   working-directory: . # FORZAMOS LA RUTA A LA RAÍZ
      #   run: mvn deploy -s settings.xml
